*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #334eaa;
	font-size: 1.1rem;
}

header {
	display: flex;
	height: 20vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: monospace;
}

h1{
	display: flex;
	align-items: center;
}

header>p {
	line-height: 1.6;
	letter-spacing: 1px;
}

.options, .selected {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.option{
	background: #bbb;
	border: 1px solid black;
	height: 25vh;
	width: 50vh;
	font-size: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4%;
	margin: 2%;
}

.option:hover{
	background: #888;
}

.opt {
	background: #999;
	border: 1px solid #333;
	border-radius: 4%;
	height: 30vh;
	width: 90vh;
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.conclusion {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3vh;
}

.end {
	background: #bbb;
	border: 1px solid #333;
	border-radius: 4%;
	height: 20vh;
	width: 80vh;
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.points, .reset {
	background: #bbb;
	border: 1px solid #444;
	border-radius: 4%;
	height: 10vh;
	width: 50vh;
	font-size: 3rem;
	text-align: center;
}

.reset {
	margin-top: 1rem;
	padding: 1rem;
	font-size: 3rem;
	background: #bbb;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reset:hover {
	background: rgb(220,10,10);
}
