*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #334eaa;
	font-size: 1.1rem;
}

header {
	display: flex;
	height: 20vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: monospace;
}

h1{
	display: flex;
	align-items: center;
}

header>p {
	line-height: 1.6;
	letter-spacing: 1px;
}

.options {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.option {
	background: #bbb;
	border: 1px solid black;
	height: 25vh;
	width: 50vh;
	font-size: 5em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin: 2%;
}

.option:hover{
	background: #aaa;
}